<ion-header>
  <ion-toolbar>
    <ion-title>
      Waktu Solat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label>Country</ion-label>
    <ion-input id="myInput" [(ngModel)]="country" placeholder="  country name" value="Vietnam"></ion-input>
  </ion-item>

   
  <ion-item>
    <ion-label>City</ion-label>
    <ion-input [(ngModel)]="city" placeholder="  city name" value="Hanoi"></ion-input>
  </ion-item>

  <ion-item  *ngIf="showion" (click)="toggleResults()" detail>
    <ion-label id ="result">
      Button Item with Detail Arrow
    </ion-label>
  </ion-item>
  
  <script>
    autocomplete(document.getElementById("myInput"), countries);
  </script>

<ion-button  id="button" (click)= "goNextPage(country, city)" [routerLink]="['/', 'waktu-solat' ,country, city]">Submit</ion-button>
  
</ion-content>

<ion-footer>


</ion-footer>
